* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: black;
    font-family: 'ZCOOL KuaiLe';
    background-image: url(../images/kh.png);
    background-size: 100%;
  }
  
  img {
      float: left;

  }

  p {
      color: #f8c302;
  }

  
  /* HEADER */
  
  header {
    padding: 20px 35px;
    background-color: #f8c302;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: silver;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
  }

  h1,
  h2,
  h3 {
      color: #f8c302;
  }

  
  header a {
    text-decoration: none;
    color: rgb(117, 114, 114);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  h2 {
      margin-top: 10%;
  }

  #resume {
      margin-top: 20px;
  }

  h3 {
      color: rgb(117, 114, 114);
  }
  
  /* NAVBAR STYLES END */

  /* overlapping text on picture */

#wrap {
    position:relative; 
    width: 200px;  
    height: 145px;
    border: 1px solid grey;
}


#text {
z-index:100;
  position:absolute;   
  color:#f8c302;
  font-size:20px;
  font-weight:bold;
  right: 10px;
  left:10px;
  top:100px;
}
  

/* resize img */
.resize {
  width: 400px;
  height: auto;
}

.resize {
  width: 700px;
  height: auto;
}
  
  
/* FOOTER STYLES START */
footer {
    background: #f8c302;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
  
footer h2 {
    color: black;
    font-size: 30px;
    margin: 0;
}
  
footer div {
    line-height: 1.5;
    text-align: right;
}
  
footer a {
    color: black;
}
  /* END FOOTER STYLES */
  
/* STYLE ALL SECTION TAGS */
section {
    padding: 60px;
}

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: #024e76;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
  
.primary-border {
    border-color: silver;
}
  
.secondary-border {
    border-color: silver;
}
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
