* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: black;
    font-family: 'ZCOOL KuaiLe';
    background-image: url(../images/kh.png);
    background-size: 100%;
  }
  
  img {
      float: left;
      margin-bottom: 10%;

  }

  p {
      color: #f8c302;
  }

  #ptag {
    color: #f8c302;
    margin-top: 70%;
    height: auto;
    flex-wrap: wrap;
  }

  
  /* HEADER */
  
  header {
    padding: 20px 35px;
    background-color: #f8c302;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: silver;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
  }

  h1,
  h2,
  h3 {
      color: #f8c302;
  }

  
  header a {
    text-decoration: none;
    color: rgb(117, 114, 114);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  h2 {
      margin-top: 70%;
  }

  #resume {
      margin-top: 20px;
  }

  h3 {
      color: rgb(117, 114, 114);
  }
  

  /* overlapping text on picture */

#wrap {
    position:relative; 
    width: 700px;  

}


#header {
z-index:100;
   
  color:#f8c302;
  font-size:20px;
  font-weight:bold;
  right: 10px;
  left: 500px;
  top:100px;
}

#text {
  z-index:100;
    position:absolute;   
    color:#f8c302;
    font-size:20px;
    font-weight:bold;
    right: 10px;
    left: 500px;
    top: 200;
  }
  

/* resize img 
.resize {
  width: 400px;
  height: auto;
}*/

.resize {
  width: 700px;
  height: auto;
}
  
  
/* FOOTER STYLES START */
footer {
    background: #f8c302;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
  
footer h2 {
    color: black;
    font-size: 30px;
    margin: 0;
}
  
footer div {
    line-height: 1.5;
    text-align: right;
}
  
footer a {
    color: black;
}
  /* END FOOTER STYLES */
  
/* STYLE ALL SECTION TAGS */
section {
    padding: 60px;
}

/* SECTION TITLE STYLES START */
  
.primary-border {
    border-color: silver;
}
  
.secondary-border {
    border-color: silver;
}
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }


  .flex-container {
    display: flex;
    flex-wrap:wrap;
  }