body {
    background-image: url("../images/kh.png");
    background-size: contain;
    color: whitesmoke; 
    font-family: 'ZCOOL KuaiLe';
}

.runbuddy__img{
    width: 70%;
    height: 70%;
}

section {
    width:80%; 
    margin-left:10px; 
    margin-right:10px; 

}

.section__title{
    color: tomato; 
    font-weight: bold; 
    border-right: 5px solid red; 
    float: left; 
    width: 40%;
    padding: 20px;

}
section > div { 
    width:80%; 
    float: right;;
}
/* section > h2 {
    border-right: 5px solid red; 
    float: left; 
    width: 200px;
}
*/

#wrap {
    position:relative; 
    width: 75%;  
    height: 65%;
    border: 1px solid grey
}

.conoePic {
    width:100%; 
    height: 75%;
}


#text {
z-index:100;
    position:absolute;    
    color:white;
    font-size:20px;
    font-weight:bold;
    padding: 10px;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}

footer {
    height: 50px;
    bottom: 0; 
    color: green; 
  }